@import '../assets/styles/colors.scss';

:host {
  max-width: 1280px;
	height: 100%;
  margin: 0 auto;
  background-color: $primary-font-color;
	display: flex;
	flex-direction: column;
  justify-content:space-between;
}
