<!-- <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
  <mat-tab label="Learn words" class="tab">
    <aside class="sidebar">
      <a class="sidebar-link" routerLink="/colors" routerLinkActive="router-link-active">Colors</a>
      <a class="sidebar-link" href="#">Animals</a>
      <a class="sidebar-link" href="#">Plants</a>
    </aside>
    <div class="content">
      <router-outlet></router-outlet>

      <app-flip-card *ngFor="let card cards" [card]="card"></app-flip-card>
    </div>
  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->
